<div class="faqs"><h1>Frequently Asked Questions</h1>

<br><br>

<h3>Why is my hair messed up when I wake up in the morning?</h3><br>

<p>This is due to the gravitational-flux-corpus that often occurs early in themorning when it begins to turn light outside.<br> Just shave your head before you go to bed to prevent further hair-mess-ups.</p><br>

<p>The second option is to spray an entire can of hair-spray on it before you go to bed. <br>This will ensure your hair stays in one place. The only problem is that the pillow sticks to your head.</p>
<br><br>

<h3>I have a pain in my skull when I hit myself with a large stick. How do I make the pain stop?</h3><br>
<p>You need to use a smaller stick.<p>Some people think that you should not hit yourself with a stick, but we both know that these “people” do not know the sheer pleasure we feel when we stop hitting ourselves in the head with sticks. It is completely worth it.</p>
<br><br>

<h3>My dog likes to eat my socks. Is this normal?</h3><br>

<p>Are the socks argyle or sweat socks? If they are argyle, take your dog to the Vet and let him know. He will be able to do an argilectomy. <br>If the socks are sweat socks, no biggie. They taste good. If they are any other type, we don’t know since the research results aren’t in yet.</p>
<br><br>
<h3>What are those big brown sandy areas out there on the golf course?</h3><br>

<p>They are the diggings left over from Giant Gopher burrows. Don’t hit your golf balls in there because the gophers might eat them. <br>Sometimes golfers loose a leg when the Giant Gopher’s surface in a ravenous eating frenzy. We call this the Golfer Gopher Grab or GGG, for short.</p><br>

<p>Some golf courses are infested with cats.  So, they use special sand that lets the cat poopies fall below the surface of the sand.  It looks much better that way, and the cats will stay away from the putting areas. <br> Also, do not aim golf balls at cats.  If you hit one, it will explode and send shards of cat extrement everywhere.</p><br><br>

<h3>Clouds really scare me. What should I do?</h3><br>

<p>Don’t look up. When you go outside wear a hat. If you can’t help yourself and you just have to look up, don’t panic...<br> unless you see a cloud shaped like a .44 magnum or an alligator. If that happens, just go inside until it leaves.</p><br>

<p>What color are the clouds?  If they are white, don't panic.  If they are grey, worry.  If they are dark, back up slowly and leave.</p>
<br><br>

<h3>Why do mannequins make me nervous?</h3><br>

<p>Probably because you are neurotically unstable. Do their eyes follow you when you walk by? <br>Are you tempted to ask one out on a date? Do they talk about you behind your back? If so, don’t tell anyone.</p><br>

<p>The cure is to stare them down. You have to be totally determined to beat them. <br>So, psych yourself up and stare the bajeebers out of them until they look away. That will cure you.</p><br><br>

<h3>When I went to the zoo and stared at the gorillas, one stared back and waved. Why?</h3><br>
<p>One explanation is that he recognized you. Some scientists believe in what is called genetic memory. <br>That means that your ancestors’ memories are in you. This can explain why the gorilla recognized you.</p><br>
</div>